<div class="container">
  <h1>Total Statistics for Group: <%= @group.name %></h1>

  <p>Number of Users: <%=@group.users.count %></p>

  <h2>Demographic Results:</h2>
  <p>Average Music Experience: <%= @demographic_results[0] %> years</p>
  <p>Average Clinical Experience: <%= @demographic_results[1] %> years</p>
  <p>Average General Education: <%= @demographic_results[2] %> years</p>


  <h2>Quiz Results</h2>
  <% ['g', 'r', 'b', 'a', 's'].each do |letter| %>
    <% if @quiz_results[letter] == [0, 0] %>
      <p>No quizzes have been taken for letter <%= letter %> yet.</p>
    <% else %>
      <p><strong>Letter <%= letter %>:</strong> <%= @quiz_results[letter][0] %> out of <%= @quiz_results[letter][1] %> ( <%= (@quiz_results[letter][0].to_f / @quiz_results[letter][1] * 100).round(2)%>%)</p>
    <% end %>
  <% end %>

  <h2>Test Results</h2>
  <% if @test_results == [0, 0] %>
    <p>No tests have been taken yet.</p>
  <% else %>
    <p><strong>Total Correct:</strong> <%= @test_results[0] %> out of <%= @test_results[1]*5 %> total ratings ( <%= (@test_results[0].to_f / (@test_results[1] * 5) * 100).round(2)%>%)</p>
    <p><strong>Total Questions:</strong> <%= @test_results[1] %></p>
  <% end %>
</div>