<h1>Your Quiz History</h1>

<% if @quiz_history.empty? %>
  <p>You have not taken any quizzes yet.</p>
<% else %>
  <% @quiz_history.group_by { |quiz| quiz.which_grbas_letter }.each do |grbas_letter, quizzes| %>
    <details>
      <summary><%= grbas_letter.upcase %></summary>
      <% quizzes.each do |quiz| %>
        <% grade_percent = quiz.num_questions.zero? ? 0 : (quiz.num_right.to_f / quiz.num_questions) * 100 %>
        <% completion_class = quiz.completed ? 'quiz-completed' : 'quiz-incomplete' %>
        <style>
            .<%= completion_class %> {
                background-color: <%= quiz.completed ? 'lightgreen' : 'lightcoral' %>;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ddd;
                margin-left: 20px; /* Indent each quiz box */
            }
        </style>
        <div class="<%= completion_class %>">
          <p>Quiz --> Difficulty: <%= quiz.difficulty %> |
            Number of Questions: <%= quiz.num_questions %> |
            Created: <%= quiz.created_at.in_time_zone("Central Time (US & Canada)").strftime("%I:%M%p") %> |
            <% if !quiz.completed %>
              (Incomplete)
              <%= link_to 'Resume', quiz_path(quiz), class: 'btn btn-primary', style: 'margin-left: 20px;' %>
            <% else %>
              Grade: <%= quiz.num_right.to_s %> / <%= quiz.num_questions.to_s %>
            <% end %>
          </p>
          <% if quiz.completed %>
            <% quiz.responses.each do |response| %>
              <div class="response-box">
                <p><strong>Sound:</strong> <%= Sound.find_by_id(response.sound_id).db_file_name %></p>
                <p><strong>Rating:</strong> <%= response["#{quiz.which_grbas_letter}_rating".to_sym] %></p>
                <p><strong>Your Reasoning:</strong> <%= response.reasoning %></p>
                <p><strong>Expert Feedback:</strong> <%= response.feedback %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </details>
  <% end %>
<% end %>

<style>
    .response-box {
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        margin-left: 20px;
    }

    details > summary {
        font-size: 1.5em;
        border: 1px solid #aaa;
        padding: 10px;
        margin-bottom: 10px;
        background-color: transparent;
        border-radius: 10px;
    }
</style>
