<!DOCTYPE html>
<html lang="">
<head>
  <title>RailsApp - Learn</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <style>
      .profile-header {
          background-color: #f8f9fa;
          padding: 20px;
          border-radius: 5px;
          margin-bottom: 20px;
      }
      .profile-info {
          margin-bottom: 10px;
      }
      .custom-lightgrey-btn {
          background-color: lightgrey;
          color: black;
          border: none;
      }
      .custom-lightgrey-btn:hover {
          background-color: grey;
          color: white;
      }
  </style>
</head>
<body>

<div class="container">
  <div class="profile-header">
    <h1>Learn GRBAS </h1>
    <div class="box">
      <p><strong>Practice can be done in a few ways. Here’s what each learn method does:</strong></p>
      <ul>
        <li><strong>Listen to Sounds</strong> - get acquainted to the sounds that are available on the application by having all the current sounds listed with their current GRBAS scores.</li>
        <li><strong>Quizzes</strong> - practicing 1 letter of the GRBAS scale.</li>
        <li><strong>Tests</strong> - practicing all 5 letters in the GRBAS scale.</li>
      </ul>
      <p></p>
    </div>
    <%= link_to "Listen to Sounds", sounds_path, class: 'btn custom-lightgrey-btn' %>
    <%= link_to "Create New Quiz", new_quiz_path(@current_user.id), class: 'btn custom-lightgrey-btn' %>
    <%= link_to "Create New Test", create_test_quizzes_path(@current_user.id), class: 'btn custom-lightgrey-btn' %>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>