<h1>Sounds from the "Perceptual Voice Qualities Database"</h1>

<%= form_with(url: search_sounds_path, method: "get", local: true, html: { class: "mb-5" }) do %>
  <div class="form-group">
    <label for="sound_id">Sound ID:</label>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Rating:</label>
    <% (0..3).each do |rating| %>
      <div class="form-check form-check-inline">
        <%= radio_button_tag :rating, rating, params[:rating].to_i == rating, class: "form-check-input" %>
        <%= label_tag "rating_#{rating}", rating, class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <label>Letter:</label>
    <% %w[g r b a s].each do |letter| %>
      <div class="form-check form-check-inline">
        <%= radio_button_tag :letter, letter, params[:letter] == letter, class: "form-check-input" %>
        <%= label_tag "letter_#{letter}", letter.upcase, class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .sound-actions {
        display: flex;
        gap: 8px;
    }

    .play-sound {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }

    .audio-player {
        margin-left: 10px;
    }
</style>

<table>
  <thead>
  <tr>
    <th>File Name</th>
    <th>GRBAS Scores</th>
    <th>History</th>
    <th>Audio</th>
  </tr>
  </thead>

  <tbody>
  <% @sounds.each do |sound| %>
    <tr>
      <td><%= sound.db_file_name %></td>
      <td>
        G: <%= sound.g_rating %> |
        R: <%= sound.r_rating %> |
        B: <%= sound.b_rating %> |
        A: <%= sound.a_rating %> |
        S: <%= sound.s_rating %>
      </td>
      <td>
        <% if @responses.size == 0 %>
          You've not rated this sound yet.
        <% else %>
          <%= link_to 'View Responses', responses_sound_path(sound) %>
        <% end %>
      </td>
      <td class="sound-actions">
        <audio class="audio-player" controls>
          <source src="<%= sound.audio_file_path %>" type="audio/wav">
          Your browser does not support the audio element.
          <label for="slider"></label><input type="range" id="slider" min="0" max="1" step="0.005" disabled>
        </audio>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const audioPlayers = document.querySelectorAll('.audio-player');

        // Play the audio
        const playButtons = document.querySelectorAll('.play-sound');
        if (playButtons != null) {
            playButtons.forEach(function (button, index) {
                button.addEventListener('click', function (event) {
                    event.preventDefault();
                    audioPlayers[index].src = button.getAttribute('data-audio-path');
                    audioPlayers[index].play();
                });
            });
        }
    });
</script>
<br>