<!DOCTYPE html>
<html lang="">
<head>
  <title>THE</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<% if flash[:notice].present? %>
  <div class="flash notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert].present? %>
  <div class="flash alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="<%= about_path %>">Teaching Hearing Easy</a>
  <div class="navbar-nav">
    <% if @current_user.nil? %>
      <%= link_to 'Login', login_path, class: 'nav-item nav-link btn btn-outline-warning' %>
    <% else %>
      <%= link_to 'Learn', learn_path, class: 'nav-item nav-link btn btn-outline-warning' %>
      <%= link_to 'Profile', user_path(@current_user.id), class: 'nav-item nav-link btn btn-outline-warning' %>
      <%= link_to 'Groups', tabGroup_path, class: 'nav-item nav-link btn btn-outline-warning' %>
      <%= link_to 'Log Out', logout_path, method: :delete, class: 'nav-item nav-link btn btn-outline-danger' %>
    <% end %>
  </div>
</nav>


<div class="container">
  <%= yield %>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
